<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login/panel_user.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/login/panel_jugadores.css' %}">
    <link rel="stylesheet" href="{% static 'css/login/reclamo.css' %}">
    <title>Panel de Administración</title>
</head>

<body>
    <nav>
      <div class="sidebar-top">
        <span class="shrink-btn">
          <i class='bx bx-chevron-left'></i>
        </span>
            <div class=log-nombre>
                <img src="{% block logo_src %}{% endblock %}" class="logo" alt="">
                <h3  class="hide"><a href="{% url 'panel_user' user.id %} ">{{user.username}}</a></h3>
            </div>    
      </div>
      <div class="search">

      </div>
      <div class="sidebar-links ">
        <ul>
          <div class="active-tab"></div>
          <li class="tooltip-element" data-tooltip="0">
            <a href="{%url 'home' %}" class="active" data-active="0">
              <div class="icon">
                <i class='bx bx-home'></i>
                <i class='bx bxs-home'></i>
              </div>
              <span class="link hide">Ir a inicio</span>
            </a>
          </li>
          <li class="tooltip-element" data-tooltip="1">
            <a href="{% url 'campeonatos' %}" data-active="1">
              <div class="icon">
                <i class='bx bx-folder'></i>
                <i class='bx bxs-folder'></i>
              </div>
              <span class="link hide">Campeonatos</span>
            </a>
          </li>
          <li class="tooltip-element" data-tooltip="2">
            <a href="#" data-active="2">
              <div class="icon">
                <i class='bx bx-bar-chart-square'></i>
                <i class='bx bxs-bar-chart-square'></i>
              </div>
              <span class="link hide">Mis Resultados</span>
            </a>
          </li>
          <li class="tooltip-element" data-tooltip="3">
            <a href="#" data-active="3">
              <div class="icon">
                <i class='bx bx-notepad'></i>
                <i class='bx bxs-notepad'></i>
              </div>
              <span class="link hide">Añadir Jugador</span>
            </a>
          </li>
          <li class="tooltip-element" data-tooltip="4">
            <a href="{% url 'reclamo' user.id %}" data-active="4">
              <div class="icon">
                <i class='bx bx-help-circle'></i>
                <i class='bx bxs-help-circle'></i>
              </div>
              <span class="link hide">Enviar Reclamo</span>
            </a>
          </li>
          <li class="tooltip-element" data-tooltip="5">
            <a href="#" data-active="5">
              <div class="icon">
                <i class='bx bx-cog'></i>
                <i class='bx bxs-cog'></i>
              </div>
              <span class="link hide">Configuración</span>
            </a>
          </li>
          <div class="tooltip">
            <span class="show">Ir a Inicio</span>
            <span>Campeonatos</span>
            <span>Mis Resultados</span>
            <span>Añadir Jugador</span>
            <span>Enviar Reclamo</span>
            <span>Configuración</span>
          </div>
        </ul>
      </div>
    </nav>
    {% block main %}
    {% endblock main %}
    <script src="{%static 'js/sidenav.js'%}"></script>
  </body>

</html>


