

{% extends "panel_user.html" %}
{% load static %}
{% block logo_src %}{{equipo.logo.url}}{% endblock logo_src %}
{% block main %}


    <main>
        <div class="titulo-pr">
            <h2>Encuentros {{equipo.Nombre}}</h2>
        </div>
         
        
        <div class="card-pr">
            {% for encuentro in encuentros %}
            <h4>{{encuentro.fase}}({{encuentro.fecha}})</h4>

            <div class="cards-pr-equipos">
                <h4>{{encuentro.equipo_local.Nombre}} vs {{encuentro.equipo_visitante.Nombre}}</h4>
            </div>
            {% for resultado in resultados %}
                {% if resultado.encuentro.id == encuentro.id %}
                    <div class="inf-resultado-pr">
                        <h4>{{resultado.ganador.Nombre}}({{resultado.goles_ganador}}) - {{resultado.perdedor.Nombre}}({{resultado.goles_perdedor}})</h4>
                    </div>                
                {% endif %}

            {% endfor %}
        {% endfor %}
        </div>        
        
    </main>


{% endblock main %}