section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;

}
#campeonato-campeon{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8rem   ;
}

.campeonato-equipo-ganador{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    gap: 20px   ;
    border: 4px solid #ff9d00;

}

@keyframes spin {
    0% {
      transform: rotate(0deg); /* Giro inicial de 0 grados */
    }
    100% {
      transform: rotate(360deg); /* Giro completo de 360 grados */
    }
  }

.cards-campeonato-id{
    padding: 0rem 2rem 20px 0px;
    max-width: 480px;

}
.title-card{
    padding-bottom: 10px;

}
.title-card a{
    text-decoration: none;
    color: #cbd3f6;
}
.title-card :hover{
    opacity: 0.5;
}

.li-card h5{
    padding: 5px 0px 10px 10px;
}
.li-card h4{
    padding: 10px 0px 10px 0px;
}

.p-card{
    padding-top: 15px;
}
.p-card h5{
    padding: 10px 0px 5px 0px;
    color: #f2f4fa;
    
}
.contain-jugadores{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px;
}

.camp-id-equipos{
    display: flex;
    justify-content: space-around;
    padding: 2rem 2rem 2rem 2rem;
    gap: 20px;
    flex-wrap: wrap;
    border: 2px solid #ff9d00;

}

.sec-titulo{
    padding: 15px 0px 15px 4px;
    text-transform: uppercase;
    
}

.container-info-equipo{
    display: flex;
    flex-direction: column;
    padding: 20px 20px ; 
    border: 2px solid #ff9d00;
    max-width: 280px;
    min-width: 270px;
}


.nombre-equipo a{
    text-decoration: none;
    padding: 5px 0px 10px 0px;
    color: #cbd3f6;
    font-weight:bold;
}
.nombre-equipo:hover{
    opacity: 0.5;
}
.container-info-equipo h4{
    padding:10px 0px 5px 0px;
}
.nombre-equipo {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: larger;


}
.nombre-dele {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

.container-info-jugador{
    /* flex: 0 0 calc(20% - 10px);
    align-items: center;
    justify-content: center; */
    display: flex;
    align-items: center;

}
.img-equipo{
    display: flex;
    justify-content: center;
    align-items: center;
}