<!DOCTYPE html>
<html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
</head>



<footer class="footer-distributed">
    <div class="footer-logo">
        <h3>Eventos<span>RCC</span></h3>
    </div>
	<div class="container_footer">
            <div class="Redes">
                <div><span>Redes Sociales</span> </div>
                <ul class="footer-links">
                    <li><a href="/" class="fa fa-linkedin">Facebook</a></li>
                    <li><a href="#" class="fa fa-linkedin">Instagram</a></li>
                    <li><a href="#" class="fa fa-linkedin">Whatsapp</a></li>
                    <li><a href="/" class="fa fa-linkedin">Twitter</a></li>  
                </ul>
            </div>
            <div class="Recomendaciones">
                <div><span>Recomendaciones</span></div>
                <ul class="footer-links">
                    <li><a href="/" class="">Contactanos</a></li>
                    <li><a href="#">Sugiere Organizador</a></li>
                    <li><a href="#">Bases</a></li>
                </ul>
            </div>
	</div>
    <div>
        <p class="footer-company-name">Eventos RCC © 2023 👻👽</p>
    </div>
</footer>
</html>

<!-- agrega una seccion en el footer de auspicios -->