<!DOCTYPE html>
<html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>



<footer class="footer-distributed">
    <div class="footer-logo">
        <h3>Eventos<span>RCC</span></h3>
    </div>
	<div class="container_footer">
            <div class="Redes">
                <div><span>Redes Sociales</span> </div>
                <ul class="footer-links">
                    <li>
                        <i class="fab fa-facebook"></i>
                        <a href="/">Facebook</a>
                    </li>
                    <li>
                        <i class="fab fa-instagram"></i>
                        <a href="#">Instagram</a>
                    </li>
                    <li>
                        <i class="fab fa-whatsapp"></i>
                        <a href="#">Whatsapp</a>
                    </li>
                    <li>
                        <i class="fab fa-twitter"></i>
                        <a href="/">Twitter</a>
                    </li>  
                </ul>
            </div>
            <div class="Recomendaciones">
                <div><span>Recomendaciones</span></div>
                <ul class="footer-links">
                    <li>
                        <a href="/" class="">Contactanos</a></li>
                    <li><a href="#">Sugiere Organizador</a></li>
                    <li><a href="#">Bases</a></li>
                </ul>
            </div>
	</div>
    <div>
        <p class="footer-company-name">Eventos RCC © 2023 👻👽</p>
    </div>
</footer>
</html>

<!-- agrega una seccion en el footer de auspicios -->