<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<header>
    <div class="contenedor">
        <a class="LOGO" href="{%url 'home'%}">
            <h1 class="relative">Eventos</h1>
            <span>RCC</span>
        </a>
        <div class="container-nav">
            <nav >
                <a href="{% url 'home' %}">Home</a>
                <a href="">Tabla Posiciones</a> 
                <a href="">fixture</a>
            </nav>  
            <div class="Login">
                {% if user.is_authenticated %}
                    <div class="usuario-autenticado">

                        <span>
                            <i class="fas fa-user"></i>
                            {{ user.username }}
                        </span>
                        <div class="menu-desplegable">
                            <ul>
                                <li><a href="{% url 'panel_user' user.id %}">Perfil</a></li>
                                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>    
                            </ul>
                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'login' %}" class="boton-login">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
</html>